openapi: 3.0.3
info:
  title: Paycrest Sender SDK Contract
  version: 2.0.0
  description: |
    Canonical contract for the Paycrest SDKs across all supported languages.
    This file captures the aggregator endpoints the SDKs talk to.

    Note: the direct-contract off-ramp path
    (`createOfframpOrder({ method: 'gateway' })`) is a client-side flow
    layered on top of `/v2/pubkey` + `/v2/tokens` plus on-chain calls. It
    does not introduce new aggregator endpoints beyond those listed here.
servers:
  - url: https://api.paycrest.io/v2
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: API-Key
  schemas:
    StandardResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        data:
          type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
        data:
          nullable: true
          oneOf:
            - type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
            - type: object
              additionalProperties: true
    FiatRecipient:
      type: object
      required: [institution, accountIdentifier, accountName, memo]
      properties:
        institution:
          type: string
        accountIdentifier:
          type: string
        accountName:
          type: string
        memo:
          type: string
    FiatRefundAccount:
      type: object
      required: [institution, accountIdentifier, accountName]
      properties:
        institution:
          type: string
        accountIdentifier:
          type: string
        accountName:
          type: string
    CryptoRecipient:
      type: object
      required: [address, network]
      properties:
        address:
          type: string
        network:
          type: string
    CryptoSource:
      type: object
      required: [type, currency, network, refundAddress]
      properties:
        type:
          type: string
          enum: [crypto]
        currency:
          type: string
        network:
          type: string
        refundAddress:
          type: string
    FiatSource:
      type: object
      required: [type, currency, refundAccount]
      properties:
        type:
          type: string
          enum: [fiat]
        currency:
          type: string
        country:
          type: string
        refundAccount:
          $ref: '#/components/schemas/FiatRefundAccount'
    FiatDestination:
      type: object
      required: [type, currency, recipient]
      properties:
        type:
          type: string
          enum: [fiat]
        currency:
          type: string
        country:
          type: string
        providerId:
          type: string
        recipient:
          $ref: '#/components/schemas/FiatRecipient'
    CryptoDestination:
      type: object
      required: [type, currency, recipient]
      properties:
        type:
          type: string
          enum: [crypto]
        currency:
          type: string
        providerId:
          type: string
        recipient:
          $ref: '#/components/schemas/CryptoRecipient'
    CryptoProviderAccount:
      type: object
      properties:
        network:
          type: string
        receiveAddress:
          type: string
        validUntil:
          type: string
          format: date-time
    FiatProviderAccount:
      type: object
      properties:
        institution:
          type: string
        accountIdentifier:
          type: string
        accountName:
          type: string
        amountToTransfer:
          type: string
        currency:
          type: string
        validUntil:
          type: string
          format: date-time
    PaymentOrderPayload:
      type: object
      required: [amount, source, destination]
      properties:
        amount:
          type: string
        amountIn:
          type: string
          enum: [crypto, fiat]
        rate:
          type: string
        senderFee:
          type: string
        senderFeePercent:
          type: string
        reference:
          type: string
        source:
          oneOf:
            - $ref: '#/components/schemas/CryptoSource'
            - $ref: '#/components/schemas/FiatSource'
        destination:
          oneOf:
            - $ref: '#/components/schemas/FiatDestination'
            - $ref: '#/components/schemas/CryptoDestination'
    PaymentOrderGetResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        direction:
          type: string
        orderType:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        amount:
          type: string
        amountInUsd:
          type: string
        amountPaid:
          type: string
        amountReturned:
          type: string
        percentSettled:
          type: string
        rate:
          type: string
        senderFee:
          type: string
        senderFeePercent:
          type: string
        transactionFee:
          type: string
        reference:
          type: string
        txHash:
          type: string
        providerAccount:
          oneOf:
            - $ref: '#/components/schemas/CryptoProviderAccount'
            - $ref: '#/components/schemas/FiatProviderAccount'
        source:
          oneOf:
            - $ref: '#/components/schemas/CryptoSource'
            - $ref: '#/components/schemas/FiatSource'
        destination:
          oneOf:
            - $ref: '#/components/schemas/FiatDestination'
            - $ref: '#/components/schemas/CryptoDestination'
    PaymentOrderListResponse:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
        orders:
          type: array
          items:
            $ref: '#/components/schemas/PaymentOrderGetResponse'
    SenderStatsResponse:
      type: object
      properties:
        totalOrders:
          type: integer
        totalOrderVolume:
          type: string
        totalFeeEarnings:
          type: string
    ProviderStatsResponse:
      type: object
      properties:
        totalOrders:
          type: integer
        totalFiatVolume:
          type: string
        totalCryptoVolume:
          type: string
    MarketRateSide:
      type: object
      properties:
        marketRate:
          type: string
        minimumRate:
          type: string
        maximumRate:
          type: string
    MarketRateResponse:
      type: object
      properties:
        buy:
          $ref: "#/components/schemas/MarketRateSide"
        sell:
          $ref: "#/components/schemas/MarketRateSide"
    VerifyAccountRequest:
      type: object
      required: [institution, accountIdentifier]
      properties:
        institution:
          type: string
        accountIdentifier:
          type: string
paths:
  /sender/orders:
    post:
      summary: Create payment order
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOrderPayload'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentOrderGetResponse'
    get:
      summary: List payment orders
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: pageSize
          schema: { type: integer, default: 10 }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: List orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentOrderListResponse'
  /sender/orders/{id}:
    get:
      summary: Get payment order
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentOrderGetResponse'
  /sender/stats:
    get:
      summary: Get sender stats
      security: [{ ApiKeyAuth: [] }]
      responses:
        '200':
          description: Sender stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SenderStatsResponse'
  /verify-account:
    post:
      summary: Verify account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAccountRequest'
      responses:
        '200':
          description: Account verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        type: string

  /rates/{network}/{token}/{amount}/{fiat}:
    get:
      summary: Get public token rate quote
      parameters:
        - in: path
          name: network
          required: true
          schema:
            type: string
        - in: path
          name: token
          required: true
          schema:
            type: string
        - in: path
          name: amount
          required: true
          schema:
            type: string
        - in: path
          name: fiat
          required: true
          schema:
            type: string
        - in: query
          name: side
          schema:
            type: string
            enum: [buy, sell]
        - in: query
          name: provider_id
          schema:
            type: string
      responses:
        '200':
          description: Public rate quote
  /provider/orders:
    get:
      summary: List provider orders
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: query
          name: currency
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 10
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: ordering
          schema:
            type: string
            enum: [asc, desc]
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: export
          schema:
            type: string
            enum: [csv]
        - in: query
          name: from
          schema:
            type: string
            format: date
        - in: query
          name: to
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Provider list of orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentOrderListResponse'
  /provider/orders/{id}:
    get:
      summary: Get provider order by ID
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Provider order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentOrderGetResponse'
  /provider/stats:
    get:
      summary: Get provider stats
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Provider stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProviderStatsResponse'
  /provider/node-info:
    get:
      summary: Get provider node info
      security: [{ ApiKeyAuth: [] }]
      responses:
        '200':
          description: Provider node info
  /provider/rates/{token}/{fiat}:
    get:
      summary: Get provider market rate bands
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
        - in: path
          name: fiat
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider market rate bands
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MarketRateResponse'
